@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #181842;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

.active-link {
  position: relative;
  display: inline-block;
}

.active-link::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #FD9800, #0b0bf0, #ff6a68);
}

.logo {
  background: linear-gradient(90deg, #FD9800, #0b0bf0, #ff6a68);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 700;
}


.nav-link:hover, .active-link:hover {
  background: linear-gradient(90deg, #FD9800, #0b0bf0, #ff6a68);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}